* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fa-arrow-up {
    position: fixed;
    margin-left: 95%;
    margin-top: 3%;
    font-size: x-large;
    color: aliceblue;
    width: 40px;
    height: 40px;
    background-color: rgb(195, 179, 163);
    border-radius: 60px;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media screen and (max-width: 850px) {
  .fa-arrow-up {
    position: fixed;
    margin-left: 95%;
    margin-top: 3%;
    font-size: x-large;
    color: aliceblue;
    width: 20px;
    height: 20px;
    background-color: rgb(195, 179, 163);
    border-radius: 30px;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.bloc1 img{
    border-radius: 50%;
    text-align: left;
    width: 17%;
    height: auto;
    margin-top: 2%;
    margin-left: 1%;
}
@media screen and (max-width: 850px) {
.bloc1 img{
    border-radius: 50%;
    text-align: left;
    width: 25%;
    height: auto;
    margin-top: 5%;
    margin-left: 1%;
}
}
.bloc1 h1{
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -15%;
    font-size: 400%;
    margin-left: 25%;
}
@media screen and (max-width: 850px) {
    .bloc1 h1{
        color: rgb(0, 0, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: -20%;
        font-size: 180%;
        margin-left: 30%;
        }
    }
    nav{
        padding-top: 5%;
    }
    nav ul li a{
        text-decoration: none;
        font-weight: bold;
        color: #000000;
        font-size: 150%;
        padding: 5% 30% 5% 30% ;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .bloc1 hr{
        border: 1px solid rgb(0, 0, 0);
        margin-left: 10%;
        margin-top: -10px;
    }  
    nav ul{
        display: flex;
        list-style-type: none;
        padding-left: 20%;
    }
    nav ul li a:hover{
        text-decoration: underline;
    }
    @media (max-width: 850px) {
        nav ul {
            display: flex;  
            justify-content: center;
            align-items: center;
            border: none; 
            padding: 10px 10px;
            margin-left: 10%;
        }
    
        nav ul li {
            margin-top: -10px;
            margin-right: 10px;
            margin-left: 30px;
            border: none;
        }
    
        nav ul li a {
            font-size: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #000000;
            display: inline-block; 
            border: none;
        }
    }
    @media screen and (max-width: 580px) {
        nav ul li a {
            padding: 1px 1px; 
        }
    }

.bloc2{
    margin-top: 1%;
    background-color: rgb(195, 179, 163);
    height: 750px;
    width: 100%;
    padding-bottom: 3%;
 }

 @media screen and (max-width: 850px) {
 .bloc2{
    margin-top: 1%;
    background-color: rgb(195, 179, 163);
    height: 100%;
    width: 100%;
    padding-bottom: 3%;
 }
}
 @media screen and (max-width: 580px) {
    .bloc2{
       height: 70%;
    }
}
 .bloc2 h1{
     text-align: left;
     font-family: 'Times New Roman', Times, serif;
     margin-left: 4%;
     color: rgb(0, 0, 0);
     padding-top: 40px;
     font-size: 40px;
     font-weight:lighter;
 }

 @media screen and (max-width: 850px) {
 .bloc2 h1{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 4%;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    font-size: 40px;
    font-weight:lighter;
}
}

 .bloc2 p{
     color: rgb(0, 0, 0);
     margin-top: 60px;
     margin-left: 4%;
     font-size: 25px;
     margin-right: 4%;
     text-align: justify;
     font-family: 'Times New Roman', Times, serif;
 }

 @media screen and (max-width: 850px) {
 .bloc2 p{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 4%;
    font-size: 25px;
    margin-right: 4%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
}

 .sousbloc2 {
     color: rgb(0, 0, 0);
     margin-left: 2%;
     font-size: 25px;
     margin-right: 38%;
     text-align: justify;
     margin-top: 50px;
 }

 .bloc2 .femme img {
    margin-left: 62%;
    margin-top: -15%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 3px rgb(168, 167, 167);
    width: 34%;
    height: auto; 
    display: flex;

}
@media screen and (max-width: 850px) {
    .bloc2 .femme img{
        margin-left: 33%;
        margin-top: 7%; 
        width: 300px;
        height: 400px;
    }
    .sousbloc2{
        color: rgb(0, 0, 0);
        margin-left: 0%;
        font-size: 25px;
        text-align: justify;
        margin-top: 50px;
        margin-right: 0%;
    }
}

@media screen and (max-width: 580px) {
    .bloc2 .femme img{
        margin-left: 20%;
        margin-top: 5%; 
        width: 200px;
        height: 300px; 
        margin-right: 25%;
    }
    .sousbloc2{
        color: rgb(0, 0, 0);
        margin-left: 0%;
        font-size: 25px;
        text-align: justify;
        margin-top: 50px;
        margin-right: 0%;
    }
}

.bloc3 {
    margin-top: auto;
    text-align: center;
    margin: 3rem 0;
    margin-top: 25%;
}

.bloc3 p {
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

@media screen and (max-width: 850px) {
    .bloc3 p{
        text-align: center; 
        margin-top: 0%; 
        width: -10%;
    }
}

@media screen and (max-width: 1000px) {
    .bloc3 {
        margin-top: 40%; 

    }
}
@media screen and (max-width: 750px) {
    .bloc3 {
        margin-top: 70%; 

    }
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
}
.blocimg {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
}

@media screen and (max-width: 850px) {
.blocimg {
    position: relative;
    margin-top: -10%;
}
}
.img1 img, .img2 img, .img3 img, .img4 img, .img5 img, .img6 img, .img7 img, .img8 img {
    position: absolute;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 3px rgb(168, 167, 167);
}
.img1 img {
    top: 10%;
    left: 4%;
    width: 45%;
    height: 25%;
}

.img2 img {
    top: 10%;
    left: 51%;
    width: 45%;
    height: 45%;
}

.img3 img {
    top: 38%;
    left: 4%;
    width: 15%;
    height: 60%;
    
}

.img4 img {
    top: 38%;
    left: 21%;
    width: 28%;
    height: 60%;
}

.img5 img {
    top: 58%;
    left: 51%;
    width: 28%;
    height: 60%;
}

.img6 img {
    top: 58%;
    left: 81%;
    width: 15%;
    height: 60%;
}

.img7 img {
    top: 102%;
    left: 4%;
    width: 45%;
    height: 45%;
}

.img8 img {
    top: 122%;
    left: 51%;
    width: 45%;
    height: 25%;
}

@media screen and (max-width: 850px) {
    .img1 img, .img2 img, .img3 img, .img4 img, .img5 img, .img6 img, .img7 img, .img8 img {
        position: static;
        display: block;
        margin: 10px auto;
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 580px) {
    .img1 img, .img2 img, .img3 img, .img4 img, .img5 img, .img6 img, .img7 img, .img8 img {
        width: 100%;
        height: auto;
    }
}
.bloc4 hr, .bloc5 hr, .bloc3 hr{
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    margin: 1rem auto;
    display: flex;
}

@media screen and (max-width: 580px) {
    .bloc3 hr{
    border: 1px solid rgb(0, 0, 0);
    width: 50%; 
    margin-top: 300px;
    }
}
@media screen and (max-width: 580px) {
    .bloc4 hr{
    border: 1px solid rgb(0, 0, 0);
    width: 50%; 
    margin-top: 300px;
    }
}
.bloc4 {
    text-align: center;
    margin: 3rem 0;
    margin-top: 250px;
    margin-top: 38%;
}

@media screen and (max-width: 850px) {
    .bloc4 {
       margin-top: 610%; 
    }

}
@media screen and (max-width: 580px) {
    .bloc4 {
       margin-top: 660%; 
    }
}
.bloc4 p {
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

@media screen and (max-width: 850px) {
    .bloc4 p {
       margin-top: 0%; 
    }
}

.bloc5 {
    text-align: center;
    margin: 3rem 0;
    margin-top: 20%;
}

.bloc5 p {
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}
.bloc6{
    margin-top: 6%;
}
.bloc6 img{
    width: 33%;
    height: 45%;
    display: flex;
    margin-left: 4%;
}
.bloc6 h1{
    font-weight: lighter;
    font-size: 50px;
    margin-left: 40%;
    margin-top: -25%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
.bloc6 p{
    font-size: 27px;
    margin-left: 37%;
    margin-right: 4%;
    font-weight: 1;
    background-color:  rgb(195, 179, 163);
    padding: 10px 50px 10px 50px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
@media  screen and (max-width: 580px) {
    .bloc6 img{
        margin: 40% 1% 2% 35%;
        height: 25%;
        display: flex;
    }
    .bloc6 h1 {
        margin-top: -65%;
        text-align: center;
        margin-left: 0px;
    }
    .bloc6 p{
        margin-left: 4%;  
 
    }
}
.bloc8{
    margin-top: 13%;
}
.bloc8 img{
    margin-left: 4%;
    display: flex;
    width: 33%;
    height: 45%;
}
.bloc8 h1{
    text-align: left;
    font-weight: lighter;
    font-size: 50px;
    margin-left: 40%;
    margin-top: -26%;
    font-family: 'Times New Roman', Times, serif;
}
.bloc8 p{
    font-size: 27px;
    margin-left: 37%;
    margin-right: 4%;
    font-weight: lighter;
    background-color:  rgb(195, 179, 163);
    padding: 10px 10px 10px 50px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
@media  screen and (max-width: 580px) {
    .bloc8 img{
        margin: 400px 10px 20px 190px;
        height: 25%;
    }
    .bloc8 h1 {
        margin-top: -380px;
        text-align: center;
        margin-left: 0px;
    }
    .bloc8 p{
        margin-left: 4%;  
        padding-right: 9%;  
    }
}

.bloc7{
    margin-top: 9%;
}
.bloc7 img{
    margin-left: 63%;
    width: 33%;
    height: 45%;
    display: block;
}
.bloc7 h1{
    font-weight:lighter;
    font-size: 50px;
    margin-left: 4%;
    margin-top: -26%;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.bloc7 p{
    font-size: 27px;
    margin-left: 4%;
    margin-right: 37%;
    background-color:  rgb(195, 179, 163);
    padding: 10px 50px 10px 10px;
    text-align: justify;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
@media  screen and (max-width: 580px) {
    .bloc7 img{
        margin: 380px 10px 20px 190px;
        height: 25%;
    }
    .bloc7 h1 {
        margin-top: -340px;
        text-align: center;
        margin-left: 0px;
    }
    .bloc7 p{
        margin-left: 4%;   
        margin-right: 4%; 
        padding-left: 9%;
    }
}

    .bloc2 img {
        margin: 0 auto;
    }

@media (max-width: 580px) {
    .bloc2 h1, .bloc6 h1, .bloc7 h1, .bloc8 h1 {
        font-size: 1.5rem;
    }

    .bloc2 p, .sousbloc2 p, .bloc6 p, .bloc7 p, .bloc8 p {
        font-size: 0.9rem;
    }
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(195, 179, 163);
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
  
  input[type=submit]:hover {
    background-color: rgb(195, 179, 163);
  }
  .column {
    margin-top: 5%;
    padding-left: 15% ;
    padding-right: 15%;

  }
  .row:after {
    display: table;
    clear: both;
  }
  @media screen and (max-width: 580px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .row {
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px;
}
.bloc9{
        text-align: center;
        width: 30%;
        margin-left: 35%;
}
.bloc9 i{
    font-size: 30px;
    color: rgb(195, 179, 163);
}
.column1{
    float: left;
    width: 48%;
    height: 25%;
    margin-bottom: -10%;
}
.column2{
    float: right;
    width: 50%;
    height: 25%;
    margin-bottom: -10%;
}
@media screen and (max-width: 580px) {
    .column2 {
      float: none;
      width: 70%;
    }
}
@media screen and (max-width: 580px) {
    .column1 {
      width: 70%;
      margin-top: 10%;
    }
}
@media screen and (max-width: 580px) {
    .column3 {
      padding-top: 35%;
    }
}
@media screen and (max-width: 850px) {
    .column1 {
        margin-top: 10%;
      margin-bottom: -20%;
    }
}
@media screen and (max-width: 850px) {
    .column2 {
        margin-top: 10%;
      margin-bottom: -20%;
    }
}
@media screen and (max-width: 850px) {
    .column3 {
      margin-top: -20%;
    }
}
.column4 {
    text-align: center;
}
.bloc9{
    text-align: center;
    width: 30%;
    margin-left: 35%;
}
.bloc9 i{
margin-top: 3%;
font-size: 30px;
color: rgb(195, 179, 163);
margin-bottom: 3%;
}

